
<mat-form-field appearance="fill">
  <mat-label style= "text-align:center">Parroquia</mat-label>
  <mat-select>
    <mat-option value="one">Olegario Villalobos</mat-option>
    <mat-option value="two">Santa Lucia</mat-option>
    <mat-option value="one">Cristo de Aranza</mat-option>
    <mat-option value="two">18 de Ocubre</mat-option>
    <mat-option value="one">Lorem ipsum </mat-option>
    <mat-option value="two">Second option</mat-option>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Lorem ipsum</mat-option>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
    